.add-more-btn:hover {
    box-shadow: 5px 5px 20px #000;
}

.note-detail-form > label, .note-detail-form > label > input, .note-detail-form > textarea{
    display: block;
    font: inherit;
}

.note-detail-form > label > input, .note-detail-form > textarea {
    padding: 0.2rem 0.8rem;
}

.note-detail-form > label {
    font-weight: 700;
}

.note-detail-form > label > input {
    border-radius: 0;
    margin-top: 0.2rem;
    font-weight: 400;
    
    
}

.note-detail-form > textarea {
    margin-top: 1rem;
    min-width: fit-content;
    min-width: 500px;
    min-height: 500px;
}

.note-detail-form > .submit {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    font: inherit;
}